<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_omni_drive" filename="libgazebo_omni_drive.so">
            <North>roue_avant_joint</North>
            <West>roue_gauche_joint</West>
            <South>roue_arriere_joint</South>
            <East>roue_droite_joint</East>
            
            <wheel_separation>0.2</wheel_separation>
            <wheel_diameter>0.06</wheel_diameter>
        </plugin>
    </gazebo>

</robot>