<?xml version="1.0" ?>
<model>
    <name>SolarPanel</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Vincent Belpois</name>
        <email>vincent.belpois@gmail.com</email>
    </author>
    <description>solar panel for the table for the 2024 Coupe de France de Robotique and EuroBot</description>
</model>
